<% if (title) { %>
  <h1 class="form-title"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- messages -->
<%- messages() %>

<!-- errors -->

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-wrapper login-wrapper">
    <!-- The Login Form Content -->
    <form id="loginForm"
      class="login-form"
      action="/account/login"
      method="post">
        
        <label class="input" for="account_email">Email:</label>
        <br>
        <input
            class="input"
            type="email"
            id="account_email"
            name="account_email"
            required>
        <br>
        <label class="input" for="account_password">Password:</label>
        <br>
        <input
            class="input"
            type="password"
            id="account_password"
            name="account_password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
            required>
        <br>
        <div class="checkbox-container">
          <input type="checkbox" id="showPassword" class="password-box">
        <label for="showPassword" id="textInfoPw"
        class="show-hide">
          Show Password</label>
        </div>
        <br>
        <button class="login-btn" type="submit">Login</button>
    </form>
    <span class="sign-up-wrapper">No account? <a href="/account/register" class=" sign-up"> Sign-up</a></span>
</div>


<script src="../../js/showPassword.js"></script>
