<header id="top-header" class="header">
    <span class="siteName">
        <a class="logo" href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (locals.loggedin)
        { %>
            <a href="/account/">Welcome <%= locals.accountData.account_firstname %></a> | 
            <a href="/account/logout">Logout</a>
        <% } else { %>
            <a title="Click to log in" href="/account/login">My Account</a>
        <% } %>
    </div>
</header>