<div id="home">
    <div id="hero">
        <h1>Welcome to CSE Motors!</h1>
        <%- messages() %>
        <div class="hero-info">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup Holders</li>
                <li>Superman Doors</li>
                <li>Fuzzy Dice</li>
            </ul>
            <img class="btn" src="images/site/own_today.png" alt="blue box with inside text own today">
        </div>
        <img class="bg" src="images/vehicles/delorean.jpg" alt="delorean car">
    </div>
    <section id="after-hero">
        <div class="upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="box">
                <div class="upgrade">
                    <div class="card">
                        <img src="images/upgrades/flux-cap.png" alt="flux capacitor">
                    </div>
                    <a href="#">Flux Capacitor</a>
                </div>
                <div class="upgrade">
                    <div class="card">
                        <img src="images/upgrades/flame.jpg" alt="flame decals">
                    </div>
                    <a href="#">Flame Decals</a>
                </div>
                <div class="upgrade">
                    <div class="card">
                        <img src="images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                    </div>
                    <a href="#">Bumper Stickers</a>
                </div>
                <div class="upgrade">
                    <div class="card">
                        <img src="images/upgrades/hub-cap.jpg" alt="hub caps">
                    </div>
                    <a href="#"> Hub Caps</a>
                </div>
            </div>
        </div>
        <div class="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li class="item">"So fast it's almost like travelling in time." (4/5)</li>
                <li class="item">"Coolest ride on the road." (4/5)</li>
                <li class="item">"I'm feeling McFly!" (5/5)</li>
                <li class="item">"The most futuristic ride of our day." (4.5/5)</li>
                <li class="item">"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
    </section>
</div>
