<% if (title) { %>
<h1 class="vehicle-title"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- messages -->
<%- messages() %>

<!-- Errors -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Add Claasification Form -->
<%#- addClassificationView %>
<div class="form-wrapper">
  <form id="AddClassificationForm" class="add-classification-form login-form" method="POST">
    <legend class="required-message">Field is required</legend>
    
    <label class="input" for="classification_name">Classification Name:</label>
    <p class="password-info">Name must be alphabetic characters only. No space or special character of any kind.</p>
    <input
      class="input"
      type="text"
      name="classification_name"
      id="classification_name"
      pattern="[A-Za-z]+"
      title="Classification
    name must not contain spaces or special characters."
      required
      value="<%= locals.classification_name %>">
    <br>
    <button class="add-classification-btn login-btn" type="submit">
      Add Classification
    </button>
  </form>
</div>
