<!-- CONTENT HEADING -->
<% if (title) { %>
<h1 class="vehicle-title"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- A MESSAGE BLOCK -->
<%# messages() %>

<!-- THE INVENTORY ITEMS DISPLAY -->
<%- grid %>