<% if (title) { %>
<h1 class="vehicle-title"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- messages -->
<%- messages() %>

<!-- Errors -->

<!-- Management view links -->
<%- managementView %>

<h2>Manage Inventory</h2>
<p>Select classification from the list to see the items belonging to the classification.</p>

<!-- Classification Selection -->
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>