<% if (title) { %>
<h1 class="vehicle-title"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- messages -->
<%- messages() %>

<!-- Errors -->

<!-- Management view links -->
<%- managementView %>
